/* start Bootstrap overrides */
body{
	background-color: #009cc5;
}

.container{
	background-color:white;
}


h3{
	font-size: 20px;
}

.page-header {
 border-bottom: 0px;
}

/* end bootstrap overrides */

#footer{
	text-align:center;
	padding:30px;
}

.top-link{
	padding:14px;
}
.top-link a{
	color: #333;
}


.toc.affix{
	position:fixed;
	top:20px;
}


blockquote {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
		background-color: #fcf8f2;
    border-color: #f0ad4e;
		font-size: 100%;
}
blockquote h4 {
    margin-top: 0;
    margin-bottom: 5px;
		color: #f0ad4e;
}
blockquote p:last-child {
    margin-bottom: 0;
}


.thumb-wrap{
	margin:30px 0;
}

.thumb-caption{
	font-style:italic;
	font-size:90%;
	margin-top:4px;
}