<config>
<file_options>
	<type name="default">
		<input name="country" field_label="Country" />
	</type>
	<type name="home"></type>
	<type name="news">
		<input name="date" field_label="Date" />
		<input name="read_on" field_label="Read on" />
	</type>
	<type name="news_overview"></type>
	<type name="party">
		<checkbox name="bookable" field_label="Bookable" />
		<input name="price" field_label="Price" />
	</type>
	<type name="party_overview"></type>
	<type name="photo_gallery"></type>
	<type name="bookform">
		<input name="top_info" field_label="Top info" />
		<input name="branch" field_label="Branch" />
		<input name="name_child" field_label="Name of birthday child" />
		<input name="age_child" field_label="Age of birthday child" />
		<input name="address" field_label="Address" />
		<input name="zip" field_label="Zip code" />
		<input name="city" field_label="City" />
		<input name="phone" field_label="Telephone number" />
		<input name="how_many" field_label="How many children" />
		<input name="what_time" field_label="What time" />
		<input name="select_time" field_label="Select time" />
		<input name="dinner_time" field_label="Dinner time" />
		<input name="what_date" field_label="What date" />
		<input name="email" field_label="Email address" />
		<input name="email_repeat" field_label="Email address repeat" />
		<input name="extra_info" field_label="Extra information" />
		<input name="receive_info" field_label="I would like to receive info" />
		<input name="send" field_label="Send" />
		<input name="obligatory_fields" field_label="Obligatory fields" />
		<input name="bottom_info" field_label="Final info" />
	</type>
	<type name="contactform">
		<input name="top_text" field_label="Top text" />
		<input name="branch" field_label="Branch" />
		<input name="your_name" field_label="Name" />
		<input name="email" field_label="Email address" />
		<input name="phone" field_label="Telephone number" />
		<input name="your_message" field_label="Your message" />
		<input name="send" field_label="Send" />
		<input name="obligatory_fields" field_label="Obligatory fields" />
	</type>
</file_options>
</config>