<config>
<file_options>
	<type name="default"></type>
	<type name="home">
		<file name="logo" field_label="Logo"/>
	</type>
	<type name="oudleerlingen"></type>
	<type name="fotoboek"></type>
	<type name="fotosubalbum1">
		<file name="thumb" field_label="Thumbnail" />
	</type>
		<type name="fotosubalbum2">
		<file name="thumb" field_label="Thumbnail" />
	</type>
		<type name="fotosubalbum3">
		<file name="thumb" field_label="Thumbnail" />
	</type>
		<type name="fotosubalbum4">
		<file name="thumb" field_label="Thumbnail" />
	</type>
	<type name="achtergrondafbeelding">
		<file name="afbeelding" field_label="Afbeelding" />
	</type>
</file_options>
</config>
