.chatbox, .chatroom {
    border-radius: 0px;
    box-shadow: none;
    float: right;
    margin-right: 15px;
    z-index: 20;
		border:1px solid #ddd;
}


.oc-chat-head {
    background-color: #009CC5;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    clear: right;
    color: #FFFFFF;
    height: 26px;
    margin: 0;
    padding: 3px 0 0;
}

.chat-head #controlbox-tabs li a {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: none;
		border-right: 1px solid #CCCCCC;
		border-top: 1px solid #CCCCCC;
}


a.configure-chatroom-button, a.minimize-chatbox-button, a.close-chatbox-button {
    background: none;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    color: white !important;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 10px;
    margin-right: 3px;
    padding: 3px 3px 2px;
    text-decoration: none;
    text-shadow: none;
}

.icon-close{
	font-family: verdana;
}

#conversejs a:visited, #conversejs a:hover, #conversejs a:active, #conversejs a:link{
	color: black;
	text-decoration:none;
}

ul#controlbox-tabs li a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: block;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
		margin-left:2px;
}

ul#controlbox-tabs li a {
    height: 24px;
}

ul#controlbox-tabs li  {
    padding-left:2px;
}


ul#controlbox-tabs a.current, ul#controlbox-tabs a.current:hover {
    border-bottom: 0 none;
    box-shadow: none;
    color: black;
		font-weight:bold;
    cursor: default;
    height: 25px;
}