Source: groupoffice-mailserver
Section: mail
Priority: extra
XSBC-Orig-Maintainer: Merijn Schering <mschering@intermesh.nl>
Maintainer: Ubuntu MOTU Developers <motu@lists.ubuntu.com> 
Build-Depends: debhelper (>= 7), po-debconf
Standards-Version: 3.8.0
Homepage: http://www.group-office.com

Package: groupoffice-mailserver
Architecture: all
Depends: groupoffice-com,
	amavisd-new,
	arj,
	zip,
	unzip,
	bzip2,
	gzip,
	cpio,
	file,
	lzop,
	nomarch,
	clamav,
	clamav-base,
	clamav-daemon,
	clamav-freshclam,
	php5-cli,
	postfix,
	postfix-mysql,
	dovecot-imapd,
	libemail-valid-perl,
	libmail-sendmail-perl,
	spamassassin,
	spamc,
	sudo,
	openssl,
	pyzor,
	razor,
	mailutils,
	libmime-charset-perl,
	libmime-encwords-perl,
	${misc:Depends}
Description: 
 The complete mailserver solution for Group-Office.
 It configures Group-Office with postfix, dovecot and spamassasin
