body{
font-family:	arial,verdana,sans-serif;
background-color: #22437f;
padding:0px;
margin:0px;
font-size:12px;
padding-top:4px;
text-align:right;
}

a:link,a:active,a:visited,a:hover{
color: white; 
text-decoration: none;
}