.ub_visible
{
	font-size:11px;
	margin:0px;
	padding:2px;
	width:auto;
	visibility: visible;
	margin-left:30px;
	
}

.ub_hidden
{
	
	font-size:0px;
	margin:0px;
	padding:0px;
	visibility: hidden;
	width:0px;
	height:0px;
	
}

.unread_msg
{
	font-weight:bolder;
	color:Blue;
}


div
{
	Border:1px Solid Black;
	padding:0px;
	 padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	margin:10px;
	margin-left:30px;
	
}
.pair {
	border: 1px solid #ddd;
	background: #f8f8f8;
}

.impair {
	border: 1px solid #ccc;
	background: #eaeaea;
}


.name
{
	font-size:18px;
	font-weight:bolder;	
}

.desc
{
	font-size:12px;
}

.title
{
	height:80px;
	width:450px;	
	vertical-align:top;
	background-color:#DDDDEE;
	padding:5px;	
	
	
}

ul
{
	list-style-type:none;
	margin:0px;
	padding:0px;
		
}
li
{
	margin-left:0px;
	padding:0px;	
}

.li_title
{
	color:Blue;
	font-size:12px;
	margin-left:12px;
	border:none;
	text-decoration:underline;
	font-family:Verdana;
	 font-weight: bolder;
}
.li_title_alone
{
	color:Blue;
	font-size:12px;
	margin-left:30px;
	margin-top:100px;
	border:none;
	text-decoration:underline;
	font-family:Verdana;
	 font-weight: bolder;
}


.nothing
{
	padding:0px;
	margin:0px;
	background:none;
	border:none;
}
.pnothing
{
	padding:0px;
	margin:0px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:30px;
	background:none;
	border:none;

}

a.highlight:visited,a.highlight:link
{
	font-weight:bolder;
	color:Blue;
	text-decoration:underline;
}

a.highlight:hover
{
	font-weight:bolder;
	color: #0099FF;
	text-decoration:none;
}

.new_pair {
	border: 1px dashed #EEB177;
	background: #FFFF5D;
}
.new_impair {
	border: 1px dashed #EEBB56;
	background: #FFFF5D;
	

}
.right
{
	float:right;
	margin-top:-16px;
	margin-right:10px;
}
.tbl_header
{
	font-size:20px;
	color:Gray;
	background-color:Black;
}

.li_title_unseen
{
	font-weight:bolder;
	color:#0000FF;
	font-size:12px;
	border:none;
	margin-left:30px;
	text-decoration: underline;

}
.image
{
	border:none;
	background:none;
	margin:0px;
	padding:0px;
	
	 
}
.div_image
{
	border:none;
	margin:0px;
	padding:0px;
	position: relative ;
	float:left;
	display: inline;

}
.li_author
{
	color:#8888FF;
	font-size:10px;
	margin-left:10px;
}
.custom_fields
{
	color: #2255FF;
	font-size:10px;
	font-weight:bolder;
	margin-left:15px;
}


.li_date
{
	color:#66AA66;
	font-size:10px;
}

.msg_view td
{
	background-color:white;
		
}

.msg_view
{
	width:600px;
	border:1px solid Black;
	margin-top:15px;
	margin-bottom:15px;
}

.msg_title
{
	font-weight:bolder;
	color:#0000FF;
	font-size:25px;	
}

.msg_id
{
	font-size:10px;	
}

.msg_message
{
	font-size:10px;
	
}
