BEGIN:VCALENDAR
VERSION:1.0
PRODID:Blackberry
BEGIN:VEVENT
RRULE:D1 #2
DTSTART;VALUE=DATE-TIME:20070203T080000Z
UID:2020918384
DTEND;VALUE=DATE-TIME:20070203T170000Z
SUMMARY:Test
END:VEVENT
END:VCALENDAR
