BEGIN:VCALENDAR
VERSION:1.0
PRODID:Blackberry
BEGIN:VEVENT
DTSTART;VALUE=DATE-TIME:20070226T080000Z
RRULE:D1 #3
LOCATION:Hamburg
UID:1947574137
DTEND;VALUE=DATE-TIME:20070226T170000Z
SUMMARY:Test
END:VEVENT
END:VCALENDAR
