body, td{
font:normal 12px tahoma, arial, helvetica, sans-serif;
color:#000;
}


.x-form-element {
    padding-left:0px;
}

.go-sub-table{
	border:0px;
	border-collapse: collapse;
}
.go-sub-table td {
	margin:0px;
	padding:0px;
	padding-right:4px;
}


.go-inner-tab{
	padding:5px;
}

.go-app-icon{
	background: url('../../../lib/go-icon.png');
}