#main-container {
	width: 1024px;
	height: 106px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#top-bar {
	background: url('../images/topbar_bg.jpg') repeat-x;
	margin-left: 32px;
	margin-right: 32px;
	height: 108px;
	width: 962px;
	position: relative;
}

#menu1-panel {
	position: absolute;
	margin-top: 10px;
	margin-left: 20px;
}

#logo {
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}

#menu2-panel {
 bottom: 0px;
 position: absolute;
 margin-left: 10px;
}

#header-images-panel {
	position: relative;
	margin-top: 20px;
	margin-left: 32px;
	height: 298px;
	width: 962px;
}

#header-images-panel img {
	position: absolute;
}

#middle-bar {
	margin-left: 32px;
	width: 962px;
	height: 87px;
}

#path-panel {
	position: absolute;
}

#menu3-panel {
	margin-top: 18px;
	float: right;
}

#content-panel {
	margin-left: 48px;
	width: 962px;
	min-height: 87px;
	margin-bottom: 20px;
}

#content-panel-top {
	background: url('../images/content_bar_top.jpg') no-repeat center bottom;
	width: 918px;
	height: 20px;
}
#content-panel-mid {
	background: url('../images/content_bar_mid.jpg') repeat-y center top;
	width: 908px;
	min-height: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
#content-panel-bottom {
	background: url('../images/content_bar_bottom.jpg') no-repeat center top;
	width: 918px;
	height: 25px;
}

#big-panel {
	margin-right: 32px;
	width: 908px;
	min-height: 530px;
}

#footer {
	position: relative;
	background: url('../images/footer.jpg') no-repeat bottom center;
	width: 1024px;
	height: 101px;
	padding-top: 11px;
}

#tweets-panel {
    height: 400px;
    position: absolute;
    right: 18px;
    width: 168px;
		margin-top: 110px;
}

.footer-panel {
	float: left;
	width: 172px;
	height: 65px;
	margin-right: 27px;
}

.footer-title {
	color: white;
	font-size: 11px;
	font-weight: bold;
}

.footer-items {
	margin-top: 10px;
	color: white;
	font-size: 9px;
	line-height: 12px;
}

.footer-items a {
	color: white;
	font-size: 9px;
	line-height: 12px;
}

.footer-icon {
	float: left;
	margin-right: 10px;
}

#footer-panel1 {
	margin-left: 55px;
}

#footer-panel5 {
	width: 132px;
}

/**
 * PAGE TYPE-SPECIFIC CSS
 */
 #four-columns-panel {
	 margin-left: 48px;
 }
 
 .column-panel {
	 float: left;
	 width: 170px;
	 height: 321px;
	 margin-right: 28px;
 }
 
 .column-header {
	 background: url('../images/column_top_panel.jpg') no-repeat center top;
	 width: 170px;
	 height: 116px;
 }
 
 .column-header-image {
	 position: absolute;
	 margin: 1px;
	 width: 168px;
	 height: 105px;
 }
 
.column-header-text-panel {
	position: absolute;
	margin-left: 1px;
	margin-top: 57px;
	background-color: black;
	opacity: .70;
	filter: alpha(opacity=70);
	width: 168px;
	height: 49px;
	color: white;
}

.column-header-text1 {
	margin-top: 16px;
	margin-left: 3px;
	font-size: 14px;
}

.column-header-text2 {
	margin-left: 3px;
	font-size: 11px;
}

.column-content {
	padding-top: 4px;
	height: 130px;
	padding-bottom: 4px;
}
.column-content-title {
	color: #464646;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 3px;
}
.column-content-main {
	font-size: 9px;
}
.column-content-link {
	margin-top: 2px;
	bottom: 0px;
}
.column-content-link a {
	color: #4070b2;
	font-style: italic;
}

.column-bottom {
	padding-top: 24px;
	padding-left: 3px;
	background: url('../images/column_bottom_bar.jpg') no-repeat center top;
	width: 167px;
	height: 43px;
	font-size: 16px;
	font-weight: normal;
}

#partner-panel {
	position: absolute;
	right: 40px;
	width: 122px;
	height: 105px;
}

#partner-panel-bar {
	position: absolute;
	padding-bottom: 8px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: blue;
	opacity: .70;
	filter: alpha(opacity=70);
	bottom: 0px;
	width: 94px;
	height: 42px;
}

div.filter-title {
	margin-bottom: 12px;
}

.filter-title a {
	font-size: 14px;
	color: #4d4d4d;
}

#selected-news-panel {
	margin-left: 48px;
	width: 780px;
	float: left;
}

#filter-panel {
	position: absolute;
	right: 52px;
}

.year-item, .category-item {
	margin-bottom: 25px;
	font-size: 11px;
}

.nieuws-item-panel {
	position: relative;
	margin-top: 24px;
}

.nieuws-item-afbeelding {
	width: 210px;
	height: 160px;
	float: left;
}

.nieuws-item-tekst {
	float:right;
	width: 515px;
	height: 195px;
}

/**
 * MENU ITEMS
 */

 a.menu1-item {
	 font-weight: normal;
	 color: #757575;
	 margin-right: 15px;
 }
 
 a.menu1-item-active {
	 font-weight: bold;
	 color: #4172b4;
	 margin-right: 15px;
 }
 
 a.menu2-item {
	 font-size: 15px;
	 font-weight: normal;
	 color: #4e4e4e;
	 padding-right: 16px;
	 padding-left: 12px;
	 background: url('../images/green_slash.jpg') no-repeat center right;
 }
 
 a.menu2-item-active {
	 font-size: 15px;
	 color: #4e4e4e;
	 font-weight: bold;
	 padding-right: 16px;
	 padding-left: 12px;
	 background: url('../images/green_slash.jpg') no-repeat center right;
 }
 
 .menu3-item {
	 float: left;
	 margin-left: 15px;
 }
 
 .menu3-item-left-0 {
	 background: url('../images/hook_green_left.jpg') no-repeat left center;
	 height: 47px;
	 width: 19px;
	 float: left;
 }
 .menu3-item-left-1 {
	 background: url('../images/hook_gray_left.jpg') no-repeat left center;
	 height: 47px;
	 width: 19px;
	 float: left;
 }
 .menu3-item-left-2 {
	 background: url('../images/hook_blue_left.jpg') no-repeat left center;
	 height: 47px;
	 width: 19px;
	 float: left;
 }
 
 .menu3-item-mid {
	 padding-top: 17px;
	 padding-left: 4px;
 }
 .menu3-item-mid a {
	 font-size: 18px;
	 font-weight: normal;
 }
 .menu3-item-mid-active a {
	 font-size: 18px;
	 font-weight: bold;
 }
 
 .menu3-item-mid-0 {
	 background: url('../images/hook_green_mid.jpg') repeat-x;
	 height: 47px;
	 min-width: 143px;
	 color: #4d4d4d !important;
	 float: left;
 }
 .menu3-item-mid-1 {
	 background: url('../images/hook_gray_mid.jpg') repeat-x;
	 height: 47px;
	 min-width: 143px;
	 color: #4d4d4d !important;
	 float: left;
 }
 .menu3-item-mid-2 {
	 background: url('../images/hook_blue_mid.jpg') repeat-x;
	 height: 47px;
	 min-width: 143px;
	 color: #4d4d4d !important;
	 float: left;
 }
 
 .menu3-item-right-0 {
	 background: url('../images/hook_green_right.jpg') no-repeat left center;
	 height: 47px;
	 width: 40px;
	 float: left;
 }
 .menu3-item-right-1 {
	 background: url('../images/hook_gray_right.jpg') no-repeat left center;
	 height: 47px;
	 width: 40px;
	 float: left;
 }
 .menu3-item-right-2 {
	 background: url('../images/hook_blue_right.jpg') no-repeat left center;
	 height: 47px;
	 width: 40px;
	 float: left;
 }
 
 .active_year_filter a, .active_category_filter a {
	 color: #4172b4;
 }