@CHARSET "UTF-8";

.x-calGrid-evenRow{
	border-top:1px solid #DDDDDD;
	border-left:3px double #DDDDDD;
	height:20px;
}
.x-calGrid-unevenRow{
	border-top:1px dotted #DDDDDD;
	border-left:3px double #DDDDDD;
	height:20px;
}
.x-calGrid-timeHead{
	background-color:#f1f1f1;
	height:41px;
	width:100%;
	border-top:1px solid #DDDDDD;
	text-align:right;
}

.x-calGrid-selector{
	background-color:#ffffcc;
	position:absolute;
	visibility:hidden;
	z-index:1;
	opacity: 0.4;
}

.x-calGrid-event-container {
	padding:2px;
	position:absolute;
	background-color:#ffffcc;
	border:1px solid #666666;
	color:000;
	z-index:100;
	
}

.x-calGrid-event-time{
	font-weight:bold;
	margin:0px;
	padding:0px;	
}

.x-calGrid-grid-container{
	overflow:auto;
	position:relative;
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-calGrid-headings-container{
	height:24px;
	vertical-align:middle;
	text-align:center;
	padding-left:40px;
	background-image:url(../../ext/resources/images/default/layout/panel-title-light-bg.gif);
	border-bottom:1px solid #98C0F4;
	color:black;
}

.x-calGrid-all-day-container{
	height:20px;
	padding-left:40px;
	background-color:#f1f1f1;
}

.x-calGrid-all-day-column {
	height:100%;
	z-index:1;
}

.x-calGrid-heading{
	margin-top:6px;
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}