.go-module-icon-projects , .go-menu-icon-projects{
	background-image: url('images/projects.png') !important;	
}
.go-tab-icon-projects {
	background-image: none !important;
}

.go-link-icon-5 {
	background-image: url('images/projects.png') !important;
	width:16px;
	height:16px;
}

.project-item-description{
	padding:0 0 8px 0 !important;	
}

.project-row-description{
	padding:10px 0 0 10px;	
}

.projects-items{
	margin-top:10px;
	margin-left:10px;
	width:100%;
}

.projects-late .projects-milestone{
	color: red;
}

.projects-completed .projects-milestone{
	text-decoration: line-through;
	color: black !important;
}

.projects-milestone {
	background-image: url('images/milestone.png') !important;
	padding-left:20px;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: left;
}
