*{
}

body {
	background: #9e3b76 url('../images/bgrepeat.gif') center;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: small;
	text-align: center;
	line-height: 1.4em;
	color: #333;
}

h1{
	font-family: Verdana, Arial Black, Helvetica, Arial, sans-serif;
	font-size: 210%;
	font-weight: bold;
	color: yellow;
	padding-top: 20px;
	left: 5px;
}


h2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	color: #f7941d;
	padding-left: 5px;
}

h3{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	border: #958917 2px solid;
	color: #958917;
	font-weight: bold;
	margin-top: 0px;
	width: 95%;
	background: url('../images/partykop.gif') repeat-x;
	padding: 5px;
	height: 20px;
}

#mainwrapper{
	background: url('../images/bg.gif') repeat-y center;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: small;
	text-align: center;
	line-height: 1.4em;
	color: #333;
	height: 95%;
	width: 100%;
}

#wrapper1 {
	background: url('../images/bigbg.jpg') no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	width: 850px;
	border: 1px #39b44a solid;
	text-align: left;
}

#wrapper2 {
	background: url('../images/bigbg2.jpg') no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	width: 850px;
	border: 1px #39b44a solid;
	text-align: left;
}

#wrapper3 {
	background: url('../images/bigbg3.jpg') no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	width: 850px;
	border: 1px #39b44a solid;
	text-align: left;
}

#kop {
	background: url('../images/kop1.gif');
	height: 136px;
	margin-top: 120px;
	width: 100%;
}

#menu {
	background: url('../images/menu.gif');
	height: 93px;
	width: 100%;
}

#menuindex {
	background: url('../images/menu.gif');
	height: 33px;
	width: 100%;
}

#menupos {
	position: relative;
	text-align: center;
	top: 45px;
	text-decoration: none;
	color: yellow;
}

#menupos a{
	font-size: 120%;
	text-decoration: none;
	color: yellow;
	position: relative;
	top : 3px;
}

#menupos a:hover{
	font-size: 120%;
	text-decoration: none;
	color: #39b44a;
	position: relative;
	top : 3px;
}


.animals {
	margin-left: 330px;
	margin-top: 14px;
	position: absolute;
	z-index: 5;
}

#content {
	background: url('../images/content.gif') repeat-y;
	width: 100%;
	min-height: 300px;
	left: 60px;
	top:30px;
}

#mainindex{
	margin-left: 100px;

}

#mainindex a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 160%;
	color: #F50000;
	text-decoration: none;
	padding-left: 5px;
	font-weight: bold;
}

#mainindex a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 160%;
	color: #fe4646;
	text-decoration: none;
	padding-left: 5px;
	font-weight: bold;
}

.content span.title{
	padding-top:20px;
	font-size: 200%;
}
.content{
	padding-top: 20px;
	margin-left: 120px;
	margin-right: 120px;
	font-size: 100%;
}

#footer {
	background: #9e3b76 url('../images/footer.gif');
	height: 48px;
	width: 100%;
}

#mainfooter {
	background: #9e3b76 url('../images/mainfooter.gif');
	height: 48px;
	width: 100%;
}


.logo {
	margin-left: 110px;
	margin-top: 40px;
	position: absolute;
	z-index: 10;
}

#title{
	margin-left: 110px;
	margin-top: 70px;
	position: absolute;
	z-index: 20;
}

.gallery {
	text-align: center;
}

ul.sitelist{
	list-style-type: circle;
	display: block;
}

ul.sitelist a{

}


ul.sitelist li.DE{
	height: 35px;
	list-style-image: url('../images/DE.gif');
	padding-top: 20px;
}

ul.sitelist li.NL{
	height: 35px;
	list-style-image: url('../images/NL.gif');
	padding-top: 20px;

}

ul.sitelist li.SE{
	height: 35px;
	list-style-image: url('../images/SE.gif');
	padding-top: 20px;
}

/* IE DOESN't UNDERSTAND THIS */
html>body ul.sitelist li.DE{
	height: 50px;
	list-style-image: url('../images/DE.gif');
	padding-top: 7px;
}

html>body ul.sitelist li.NL{
	height: 50px;
	list-style-image: url('../images/NL.gif');
	padding-top: 7px;
}

html>body ul.sitelist li.SE{
	height: 50px;
	list-style-image: url('../images/SE.gif');
	padding-top: 7px;
}



.dumpdiv {
	background-color: #9ae2b4;
	padding: 10px;
}

.party{
	background: #c6f4d6;
	padding: 10px;
	font-size: 110%;
}

.newsimage{
	float: right;
}

.inputbox{
	z-index:-1;
}

.select-free
{
	position:absolute;
	z-index:10;/*any value*/
	overflow:hidden;/*must have*/
	width:33em;/*must have for any value*/;
}
.select-free iframe
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}

.select-free .bd{border:solid 1px #aaaaaa;padding:12px;}


.thumb {
	float : left;
}

.thumb a img {
	margin : 15px;
	border : 0px;
}