Package: groupoffice-mailserver
Version: 3.01.34
Architecture: all
Maintainer: Merijn Schering <mschering@intermesh.nl>
Installed-Size: 0
Depends: groupoffice, postfix, postfix-mysql, dovecot-imapd, libemail-valid-perl, libmail-sendmail-perl, spamassassin, spamc, sudo, openssl, pyzor, razor, mailutils, libmime-charset-perl, libmime-encwords-perl
Section: mail
Priority: extra
Description: Mailserver solution for Group-Office
 Use Group-Office in combination with postfix, dovecot and spamassasin
