Source: groupoffice-mailserver
Section: mail
Priority: extra
Maintainer: Merijn Schering <mschering@intermesh.nl>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.group-office.com

Package: groupoffice-mailserver
Architecture: all
Depends: groupoffice-com,
		php5-cli,
		postfix,
		postfix-mysql,
		dovecot-imapd,
		libemail-valid-perl,
		libmail-sendmail-perl,
		spamassassin,
		spamc,
		sudo,
		openssl,
		pyzor,
		razor,
		mailutils,
		libmime-charset-perl,
		libmime-encwords-perl
Description: Mailserver solution for Group-Office
 Use Group-Office in combination with postfix, dovecot and spamassasin
