.go-module-icon-email {
	background: url('images/16x16/message.png');
}

.NewSubject{
	margin:0px;
	margin-bottom:4px;
	font-weight:bold;
}

.Subject{
	margin:0px;
	margin-bottom:4px;
	font-weight:normal;
}




.x-tree-node img.folderIcon, .x-tree-node-collapsed img.folderIcon{
    background-image:  url("../../../../ext/resources/images/default/tree/folder.gif");
}

.x-tree-node-expanded img.folderIcon{
    background-image:  url("../../../../ext/resources/images/default/tree/folder-open.gif");
}