.go-module-icon-gnupg , .go-menu-icon-gnupg {
	background-image: url('images/gnupg.png') !important;
}

.go-tab-icon-gnupg {
	background-image: none !important;
}

.gpg-btn-settings{
	background-image: url('images/settings.png') !important;
}

