/* General styling */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,span{
	font: 13px Helvetica, Arial, sans-serif;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 200;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

/* Main navigation */
.go-moduletabs-header ul.x-tab-strip-top{
	background: none #000;
}

.go-moduletabs-header .x-tab-strip-top .x-tab-right{
	background: none;
}

.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner{
	background: none;
}

.x-tab-strip .x-tab-strip-active span.x-tab-strip-text {
	color: #fff;
	font-weight: normal;
}

.x-tab-strip span.x-tab-strip-text{
	color: #d1d1d1;
	font: inherit;
}

.x-toolbar, .x-border-layout-ct {
	background: none;
	border: none;
}

.x-panel-noborder .x-panel-tbar-noborder .x-toolbar, .x-tab-strip-top{
	border: none !important;
}

.x-btn button{
	color: #fff;
	font: inherit;
	font-size: 12.5px;
}

.x-tab-strip .x-tab-with-icon span.x-tab-strip-text{
	padding-left: 5px;
}

.go-moduletabs-header ul.x-tab-strip-top {
	padding-left: 10px;
}

.x-tab-panel-body-top{
	padding: 20px;
}

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
	background: none;
}

.x-panel-body .x-border-panel .x-btn {
	border: 1px solid #fff;
}

.x-btn-noicon .x-btn-small .x-btn-text {
	height: auto;
	text-transform: uppercase;
}

.x-btn button {
	font: 10px Helvetica, Arial, sans-serif;
	font-weight: 400;
	}

.x-form-text, textarea.x-form-field{
	background: #e5f5f9 none;
	border: 1px solid #11a2cd;
	color: #000;
	margin: 0; 
}

.ab-search-form-panel{
	padding: 0;
}

.ext-strict .x-form-text {
	height: 16px;
}

.x-btn-noicon .x-btn-small .x-btn-text{
	height: 12px;
	padding: 0 6px;
}

.x-btn-text-icon .x-btn-icon-small-left .x-btn-text{
	font-size: 12px;
}

.x-panel-header {
	background: #fff none;
	border: none;
	color: #000;
	font-weight: 400;
	font-size: 11px;
	font-family: inherit;
	padding: 10px 10px 0 10px;
}

.x-panel-header-text {
	white-space: nowrap;
	font-weight: 600;
	font-size: 12px;
}

.x-panel-body .x-toolbar{
	background: #fff none;
	border: none;
}

.x-toolbar-ct {
	width: auto;
}

.x-grid3-check-col {
	background-image: url(/images/extjs/menu/unchecked.gif);
}

.x-grid3-check-col-on {
	background-image: url(/images/extjs/menu/checked.gif);
}

.x-grid3-row {
	border: none;
}

.x-grid3-row-over {
	background: #e6f5fa none;
}

.x-tool {
	background-image: url(/images/extjs/panel/tool-sprites.gif);
}

ul.x-tab-strip-top {
	background: #fff none;
	border: none;
}

.x-panel-body .x-tab-strip span.x-tab-strip-text, .x-panel-body .x-tab-strip .x-tab-strip-active span.x-tab-strip-text {
	color: #000;
	font-weight: 600;
	padding: 2px 5px 1px;
}

.x-tab-panel-header, .x-tab-panel-footer {
	background-color: #fff;
	border: none;
}

ul.x-tab-strip li {
	border-top: 1px solid #009bcb;
	border-left: 1px solid #009bcb;
	border-right: 1px solid #009bcb;
	margin: 0 3px 0 0;
}

ul.x-tab-strip .x-tab-strip-active {
	border-bottom: 1px solid #fff;
	margin: 0 3px -1px 0;
}

.x-tab-panel-body-top {
	border: none;
}

.x-panel-body ul.x-tab-strip-top {
	border-bottom: 1px solid #009bcb !important;
	margin: 10px 10px 0 10px;
}

.x-grid3-row td, .x-grid3-summary-row td {
	vertical-align: text-top;
}

.x-grid3-cell-inner, .x-grid3-hd-inner {
	padding: 0;
}

.x-grid3-check-col, .x-grid3-check-col-on{
	width: 16px;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-right{
	margin-bottom: 0;
}

ul.x-tab-strip {
	width: auto;
}

.x-grid3-header {
	background: #fff none !important;
	border-bottom: 2px solid #000;
}

.x-grid3-hd-over{
	background: #fff none !important;
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner, .x-grid3-hd-btn {
	background: none;
}

td.x-grid3-hd-over, .x-grid3-hd-row td {
	border: none !important;
}

.x-tab-panel .x-tab-panel-body-top {
	padding: 0;
}

.x-tab-panel .x-grid3-scroller{
	padding: 0;
}

.x-tab-panel .x-grid3-row td, .x-tab-panel .x-grid3-summary-row td {
	border-bottom: 1px solid #000;	
}

.ab-search-form-panel .x-form-text, .ab-search-form-panel textarea.x-form-field {
	background: #33afd4 none;
	border: 1px solid #fff;
	color: #ceeef2;
	margin: 0; 
}

.ext-strict .ext-webkit .x-small-editor .x-form-text{
	height: 12px !important;
	padding: 0;
}

.x-item-disabled .x-tbar-page-next {
	background-image: url(/images/extjs/grid/page-next-disabled.gif) !important;
}

.x-item-disabled .x-tbar-page-prev {
	background-image: url(/images/extjs/grid/page-prev-disabled.gif) !important;
}

.x-tbar-page-next {
	background-image: url(/images/extjs/grid/page-next.gif) !important;
}

.x-tbar-page-prev {
	background-image: url(/images/extjs/grid/page-prev.gif) !important;
}

.x-form-field-wrap .x-form-clear-trigger {
	background-image: url(/images/extjs/form/clear-trigger.gif);
}

.x-small-editor .x-form-field-wrap .x-form-trigger {
	height: 13px;
	border: none;
	vertical-align: middle;
}

.x-item-disabled .x-tbar-page-last {
	background-image: url(/images/extjs/grid/page-last-disabled.gif) !important;
}

.x-tbar-page-last {
	background-image: url(/images/extjs/grid/page-last.gif) !important;
}

.x-item-disabled .x-tbar-page-first {
	background-image: url(/images/extjs/grid/page-first-disabled.gif) !important;
}

.x-tbar-page-first {
	background-image: url(/images/extjs/grid/page-first.gif) !important;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
	border: none;
}

.x-btn .x-tbar-loading, .x-tbar-loading {
	background-image: url(/images/extjs/grid/refresh.gif) !important;
}

.x-panel-body{
	border: none;
}

.x-grid-empty{
	padding: 0;
}

.x-form-check-wrap input {
	margin: 0 0 0 1px;
	vertical-align: middle;
}

.x-form-item {
	margin-bottom: 2px;
}

.x-panel-noborder .x-panel-body-noborder{
	padding: 10px;
}

.x-grid-panel .x-panel-body {
	padding: 0 !important;
}

.x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
	padding: 0 0 10px 0;
}

.go-moduletabs-body .x-panel .x-btn-text{
	color: #fff;
}

.go-moduletabs-body #ab-east-panel .x-panel .x-btn-text, .go-moduletabs-body #ti-ticket-panel .x-btn-text{
	color: #000;
}

#ab-east-panel .x-btn-text, #ti-ticket-panel .x-btn-text{
	background: none !important;
	height: 12px;
}

#ab-east-panel .x-panel-body .x-panel-body{
	padding: 0;
}

.go-moduletabs-body #ab-east-panel .x-panel .x-btn{
	border: 1px solid #009bcb;	
	margin-right: 5px;
}

.go-moduletabs-body #ab-east-panel .x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
	font-size: 10px;
	font-weight: 600;
	padding: 0 5px;
	text-transform: uppercase;
}

#go-module-panel-addressbook .x-panel-bbar .x-toolbar, #go-module-panel-addressbook .x-panel-tbar .x-toolbar{
	padding: 0;
}