html, body {
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
}

.loading-indicator {
    font-size:8pt;
    background-image:url('../../resources/images/grid/loading.gif');
    background-repeat: no-repeat;
    background-position:top left;
    padding-left:20px;
	height:100px;
	text-align:left;
}
#loading{
	position:absolute;
	left:40%;
	top:40%;
	border:1px solid #6593cf;
	padding:2px;
	background:#c3daf9;
	width:250px;
	text-align:center;
	z-index:20001;
}
#loading .loading-indicator{
	border:1px solid #a3bad9;
	background:white url(images/block-bg.gif) repeat-x;
	color:#003366;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
}

#header{
   border:0px none;
   background:#0000aa url(images/hd-sprite.gif) repeat-x 0px -83px;
   padding-top:3px;
   padding-left:3px;
   color:white;
   font:bold 12px tahoma,arial,helvetica;
   height:28px;
}
#headerLeft{
float:left;
background:transparant;
}
#headerRight{
float:right;
background:transparant;
}

#header a {
color: white;
margin-right:6px;
text-decoration:none;
}
#header input {
	color:white;
	
	background:#0000aa url(images/hd-sprite.gif) repeat-x 0px -83px;
	border:1px solid white;
	padding-left:2px;
}
