Package: groupoffice
Version: 3.01.34
Section: web
Priority: optional
Architecture: all
Homepage: http://www.group-office.com
Depends: libapache2-mod-php5, php5 (>=5.2), php5-mysql (>=5.2), php5-imap (>=5.2), php5-gd (>=5.2), php5-cli (>=5.2), php5-curl (>=5.2), apache2.2-common (>=2.2), mysql-server (>=5), dbconfig-common,debconf (>= 0.5) | debconf-2.0
Suggests: zip, tnef, libwbxml2-utils
Maintainer: Merijn Schering <mschering@intermesh.nl
Description: Groupware application
 Take your office online
 Share projects, calendars, files and e-mail online with co-workers and clients.
 Easy to use and fully customizable, Group-Office takes online collaboration
 to the next level.
