.x-date-inner th {
    width:30px;
}

.x-date-picker {
border:0px;
}


.calendar-list{
	font:normal 11px arial, tahoma, helvetica, sans-serif;
	padding:2px;
	background-color:white;
	border:1px solid #c3daf9;
}
.calendar-list a{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
	line-height:18px;
}

a:link, a:visited, a:active{
	color:black;
	text-decoration:none;
}


.calendar-list a:hover, .calendar-list .selected{
	text-decoration: none;
	border:1px solid #c3daf9;
	background-color:#ddecfe;
}

.blue-panel {
	background-color:#D0DEF0;
}