body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.content-text{
	margin: 10px;
	font-size: 14px;
}

.content-form{
	margin: 10px;
}

.formrow{
	padding-top: 5px;
	padding-bottom: 5px;
}

.formlabel{
	clear:both;
	margin-bottom:3px;
	line-height: 24px;
}

.copyright{
	margin: 10px;
}


input, textarea { 
 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*input[type="submit"] {
 height: 28px; 
 line-height: 27px;
 padding: 0 15px;
 background: #212121;
 border: none;
 font-weight: bold;
 color: #FFF;
}

input[type="submit"]:hover {
 background: #FF4E00;
}
*/
.input{
	width:200px;
	float:left;
	margin-right: 4px;
}

.error{
	background-color: lightpink;
}

.errortext {
	float:left;
	color: red;
	line-height: 24px;
	margin-right: 4px;
	
}

#domain-row .input{
	
}

#top-domain{
	float:left;
	line-height: 24px;
}

.submit{
	width:auto;
}
